body {
  background-color: #393E46;
  font-size: 16px;
}

h1 {
  margin: 2rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

footer p:hover {
  color: #4EFFA3;
}

footer:hover {
  cursor: pointer;
}

.gameContainer {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.dice-space {
  margin-right: 3rem;
}

@media only screen and (max-width: 895px) {
  h1 {
    font-size: 4.5rem;
  }
  img {
    width: 60%;
  }
  footer {
    margin-top: 10%;
  }
  .gameContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 675px) {
  h1 {
    font-size: 3.8rem;
  }
  img {
    width: 60%;
  }
  footer {
    margin-top: 20%;
  }
  .gameContainer {
    width: 80%;
  }
  .dice {
    width: 49%;
  }
}